body {
  margin: 0;
  min-width: 768px;
  font-family: 'Noto Sans KR', sans-serif;
}

/* side navbar */

#side-navbar {
  background-color: black;
  height: 100%;
  width: 250px;
  position: fixed;
}

.bar_image {
  text-align: center;
  margin-top: 30px;
}

#list {
  margin-top: 50px;
  list-style: none;
  padding-left: 22px;
  margin-bottom: 60px;
}

#list li{
  font-size: 20px;
  margin-bottom: 30px;

}

#list a{
  text-decoration: none;
  color: white;
}

#side-navbar img {
  width: 200px;
  }

.fb {
  margin-right: 13px;
}

#bar_icon img{
  width: 30px;
  height: 30px;
}

#bar_icon {
  text-align: center;
  margin-top: 25px;
}

#main {
  margin-left: 250px;
}

#main .hero-header {
  text-align: center;
  background-image: url("../image/12-3/hero_header.jpg");
  background-size: cover;
  background-position: center center;
  line-height: 750px;
}

#main .info {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}

#main h1 {
  margin: 0;
  margin-bottom: 40px;
  color: white;
  font-size: 38px;
}

#main a {
  padding: 10px 40px;
  border: 2px solid white;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
